<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>RNJazzerator</title> 
       <link rel="stylesheet" href="../../static/css/bootstrap.css">
    </head>
    <body>
        <!--NEED TO FIX HREFS-->
        <ul class="nav nav-pills">
            <li role="presentation"><a href="home.html">Home</a></li>
			<li role="presentation" class="active"><a href="gen-primes.html">Gen-Primes</a></li>
			<li role="presentation"><a href="third-page.html">Third Page</a></li>
        </ul>
        
    </body>
</html>