{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>RNJazzerator</title> 
        <link rel="stylesheet" href="../../static/css/bootstrap.css">
    </head>
    <body>
        <!--NEED TO FIX HREFS-->
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="home.html">Home</a></li>
			<li role="presentation"><a href="gen-primes.html">Gen-Primes</a></li>
			<li role="presentation"><a href="third-page.html">Third Page</a></li>
        </ul>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1>This is a Test Panel</h1>
                    </div>
                    <div class="panel-body">
                        <!--Lorem ipsum test text-->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio massa, placerat sed nisi eu, aliquam euismod libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer non est diam. Nunc facilisis ante lobortis, dignissim ligula sed, varius enim. Morbi rutrum, est vel tincidunt accumsan, tortor mi ultrices elit, at elementum nisi elit vel lacus. Suspendisse quis ipsum eu nisi ullamcorper consectetur non non nisl. Donec ultrices sollicitudin eros sit amet euismod. Mauris luctus lacinia semper. Phasellus blandit, eros id aliquet feugiat, augue orci varius magna, et tempus enim nulla in tellus. Nunc mattis rhoncus sem, non sodales turpis porttitor quis. Integer sagittis mattis feugiat. Vestibulum ut ipsum ac eros pretium pharetra. Morbi sit amet sem sollicitudin, egestas lacus id, iaculis quam.
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </body>
</html>
{% endblock content %}