{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>RNJazzerator</title> 
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>       
        <!--Navbar Row-->
        <div class="row">
            <!--This layout centers the nav bar and puts it to the left when it is half screen-->
            <div class="col-sm-5"></div>
            <div class="col-lg-6">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="{%url 'home' %}">Home</a></li>
                    <li role="presentation"><a href="{%url 'genPrimes' %}">Gen-Primes</a></li>
                    <li role="presentation"><a href="{%url 'piano' %}">Piano</a></li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <!--Title Row-->
        <div class="row">
            <div class="col-sm-4">
                <img src="../../static/images/RNJazzerator_logo.png" width="119" height="136" alt="RNJazzerator Logo" title="RNJazzerator Logo"/>
            </div>
            <div class="col-sm-4 text">
                <h1>Welcome to RNJazzerator!</h1>
            </div>
            <div class="col-sm-4 text-right">
                <img src="../../static/images/RNJazzerator_logo.png" width="119" height="136" alt="RNJazzerator Logo" title="RNJazzerator Logo"/>
            </div>
        </div>
        
        <!--Info Row-->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2>What is RNJazzerator?</h2>
                    </div>
                    <div class="panel-body">
                        Have you ever wondered what a prime number sounds like? RNJazzerator is a program that analyzes audio and detects individual notes within the frequency range of 0 Hz to 8k Hz. The idea behind using Jazz as a primary source of audio is that jazz, by it’s nature, is non-deterministic. This means that it is often much harder to predict the audio values that are used in calculating a key, Making it overall a more secure source of audio. With that being said, any audio file can technically be used, as input, as long as the program has a suitable amount of notes to record.                    
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2>How Does It Work?</h2>
                    </div>
                    <div class="panel-body">
                        Once a series of 171 musical notes are analyzed, a unique 6-bit binary value is assigned to each note. Appending all the binary values, cutting the last value in half (3 binary digits), and adding 1, we are left with a 1024-bit binary number. How can we tell if this number is a prime? We use wolfram one’s cloud API deployment to analyze the binary number to determine if it is prime or not. If it is prime, we can then move on to the next step and use it for RSA cryptography.
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!--Bottom row-->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 bg-primary text-center">
                <h3>BOTTOM ROW</h3>
            </div>
            <div class="col-sm-1"></div>
        </div>
        </body>
</html>
{% endblock content %}