<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Piano</title> 
      <!-- style -->
      <link rel="stylesheet" href="../../static/css/piano.css" />
      <link rel="stylesheet" href="../../static/css/bootstrap.css">
      <!-- favicon -->
      <link rel="icon" href="img/piano.png" />
      <!-- google font -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap"
        rel="stylesheet"
      />
      <!-- required meta tags -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="theme-color" content="var(--desert-storm)" />   
    </head>

    <body>
        <!--Navbar Row-->
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-lg-6">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="{%url 'home' %}">Home</a></li>
                    <li role="presentation"><a href="{%url 'genPrimes' %}">Gen-Primes</a></li>
                    <li role="presentation" class="active"><a href="{%url 'piano' %}">Piano</a></li>
                </ul>
            </div>
        </div>

        <!--Title Row-->
        <div class="row">
          <div class="col-sm-4">
              <img src="../../static/images/RNJazzerator_logo.png" width="119" height="136" alt="RNJazzerator Logo" title="RNJazzerator Logo"/>
          </div>
          <div class="col-sm-4 text-center">
              <h1>Do it Yourself!</h1>
          </div>
          <div class="col-sm-4 text-right">
              <img src="../../static/images/RNJazzerator_logo.png" width="119" height="136" alt="RNJazzerator Logo" title="RNJazzerator Logo"/>
          </div>
        </div>

    <!-- loader start -->
    <div id="loadingDiv">
      <div class="loader"></div>
    </div>
    <!-- loader end -->

    <header>
        <div class="keys">
            <div class="key" data-note="a"></div>
            <div class="key sharp" data-note="w"></div>
            <div class="key" data-note="s"></div>
            <div class="key sharp" data-note="e"></div>
            <div class="key" data-note="d"></div>
            <div class="key" data-note="f"></div>
            <div class="key sharp" data-note="t"></div>
            <div class="key" data-note="g"></div>
            <div class="key sharp" data-note="y"></div>
            <div class="key" data-note="h"></div>
            <div class="key sharp" data-note="u"></div>
            <div class="key" data-note="j"></div>
            <div class="key" data-note="k"></div>
            <div class="key sharp" data-note="o"></div>
            <div class="key" data-note="l"></div>
            <div class="key sharp" data-note="p"></div>
            <div class="key" data-note=";"></div>
        </div>
        <audio src="../../static/sounds/a.mp3" data-note="a" preload="auto"></audio>
        <audio src="../../static/sounds/w.mp3" data-note="w" preload="auto"></audio>
        <audio src="../../static/sounds/s.mp3" data-note="s" preload="auto"></audio>
        <audio src="../../static/sounds/e.mp3" data-note="e" preload="auto"></audio>
        <audio src="../../static/sounds/d.mp3" data-note="d" preload="auto"></audio>
        <audio src="../../static/sounds/f.mp3" data-note="f" preload="auto"></audio>
        <audio src="../../static/sounds/t.mp3" data-note="t" preload="auto"></audio>
        <audio src="../../static/sounds/g.mp3" data-note="g" preload="auto"></audio>
        <audio src="../../static/sounds/y.mp3" data-note="y" preload="auto"></audio>
        <audio src="../../static/sounds/h.mp3" data-note="h" preload="auto"></audio>
        <audio src="../../static/sounds/u.mp3" data-note="u" preload="auto"></audio>
        <audio src="../../static/sounds/j.mp3" data-note="j" preload="auto"></audio>
        <audio src="../../static/sounds/k.mp3" data-note="k" preload="auto"></audio>
        <audio src="../../static/sounds/o.mp3" data-note="o" preload="auto"></audio>
        <audio src="../../static/sounds/l.mp3" data-note="l" preload="auto"></audio>
        <audio src="../../static/sounds/p.mp3" data-note="p" preload="auto"></audio>
        <audio src="../../static/sounds/semicolon.mp3" data-note=";" preload="auto"></audio>
    </header>
    
    <main>
      <h1 class="title">Piano keyboard</h1>
      <h1 id="counter"></h1>
      <h1 id="notesPlayed"></h1>
      <p class="subtitle">You can use your keyboard or mouse to play.</p>
    </main>
    <footer>
      <p class="footer-text">
        Coded by
        <a
          href="https://github.com/isbendiyarovanezrin"
          target="blank"
          class="footer-link"
        >
          Nəzrin İsbəndiyarova.
        </a>
      </p>
    </footer>
  

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- script js -->
    <script src="../../static/js/piano.js"></script>

  <!--Bottom Row-->
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 bg-primary text-center">
        <h3>BOTTOM ROW</h3>
    </div>
    <div class="col-sm-1"></div>
  </div>
<html lang="en">
    </body>
</html>