<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>RNJazzerator</title> 
       <link rel="stylesheet" href="../../static/css/bootstrap.css">
    </head>
    <body>
        <!--NEED TO FIX HREFS-->
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{%url 'home' %}">Home</a></li>
			<li role="presentation"><a href="{%url 'genPrimes' %}">Gen-Primes</a></li>
			<li role="presentation" class="active"><a href="{%url 'piano' %}">Piano</a></li>
        </ul>

        <h1>this is piano</h1>
    </body>
</html>